<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ getPageTitle(page_title) }}</title>
		<link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
		<link rel="stylesheet" href="css/adminlte.min.css">
		<link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" >
    </head>

	<body class="hold-transition login-page">
		<div class="login-box">
			<div class="login-logo">
				<a href="javascript:void(0);"><b>{{ pageName }}</b></a>
			</div>
			<div class="card">
				<div class="card-body login-card-body">
					<form action="{{ app.adminUrl }}/" method="post">
						<div class="input-group mb-3">
							<input type="text" name="login" class="form-control" placeholder="Felhasználó név">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-user"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="password" name="passw" class="form-control" placeholder="Jelszó">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-8"></div>
							<div class="col-4">
								<input type="hidden" name="loginAction" value="login">
								<input type="hidden" name="crsf" value="{{ crsf }}">
								<button type="submit" class="btn btn-primary btn-block">Belépés</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
			<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script type="text/javascript" src="js/adminlte.min.js"></script>
	</body>
</html>